<div class="max-w-md">
  <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
    <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content items-center">
      <span class="countdown font-mono text-2xl sm:text-3xl">
        <span [style.--value]="months"></span>
      </span>
      luni
    </div>
    <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content items-center">
      <span class="countdown font-mono text-2xl sm:text-3xl">
        <span [style.--value]="days"></span>
      </span>
      zile
    </div>
    <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content items-center">
      <span class="countdown font-mono text-2xl sm:text-3xl">
        <span [style.--value]="hours"></span>
      </span>
      ore
    </div>
    <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content items-center">
      <span class="countdown font-mono text-2xl sm:text-3xl">
        <span [style.--value]="minutes"></span>
      </span>
      minute
    </div>
    <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content items-center">
      <span class="countdown font-mono text-2xl sm:text-3xl">
        <span [style.--value]="seconds"></span>
      </span>
      secunde
    </div>
  </div>
</div>
