@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Dancing Script", sans-serif;
}

// General rules
.input:focus,
.input:focus-within {
  outline: 0;
}
